<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net481" />
  <package id="Syncfusion.Blazor.Core" version="25.2.4" targetFramework="net481" />
  <package id="Syncfusion.Blazor.Navigations" version="25.2.4" targetFramework="net481" />
  <package id="Syncfusion.Blazor.Themes" version="25.2.4" targetFramework="net481" />
  <package id="Syncfusion.Compression.Net.Core" version="25.2.4" targetFramework="net481" />
  <package id="Syncfusion.Licensing" version="25.2.4" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net481" />
</packages>